header {
    height: 30%;
    display: flex;
    flex-direction: column;
}
body {
    background-image: url(adventure-alps-beautiful.jpg);
    background-size: cover;
}
p {
    text-size: 40px;
    display: inline;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
}

ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.style-list-1 {
    color: rgb(12, 24, 24);
}

.style-list-2 {
    color: rgb(255, 166, 0);
    text-decoration: line-through;
}

.close {
    margin-left: 5px;
    font-size: 50px;
}

#AddedList {
    display: block;
    width: 30%;
    background-color: transparent;
    text-align: center;
    align-self: center;
    font-size: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#Btn {
    display: block;
    width: 30%;
    height: 75px;
    align-self: center;
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: transparent;
    /* background-color: antiquewhite; */
    border: 2px solid black;
}